# OpenAI Configuration
OPENAI_API_KEY=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

# Qdrant Configuration
QDRANT_URL=https://1df5f6c7-a1e9-4116-873f-6dc86b215815.us-east4-0.gcp.cloud.qdrant.io:6333
QDRANT_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3MiOiJtIn0.Xfngti73--eBxQWCsnMTk40XYBkOXQBmg_FkfS5N5Aw
QDRANT_COLLECTION_NAME=ai_native_book

# Neon Postgres Configuration
DATABASE_URL=postgresql://neondb_owner:npg_8XGdMNcBk2oa@ep-odd-leaf-ahcmbb1n-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require


# Application Settings
ENVIRONMENT=development
CORS_ORIGINS=http://localhost:3000,https://bilalmk.github.io
